body{
  background-color: #44475A;
}
.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar{
  background-color: rgba(238, 239, 244, 0.23);
  width: auto;
  height: 3vh;
  display: flex;
  justify-content: flex-start;
  padding: 1em;
  position: relative;
}
